transformers==4.50.2
peft==0.14.0
accelerate==1.3.0
bitsandbytes==0.45.1
datasets==3.2.0
evaluate==0.4.3
huggingface_hub[hf_transfer]
mlflow
safetensors>=0.5.2
sagemaker-mlflow==0.1.0
sentencepiece==0.2.0
scikit-learn==1.6.1
tokenizers>=0.21.0
trl==0.9.6
psutil
py7zr
pynvml
xtarfile
rouge-score