accelerate>=0.12.0
datasets>=2.19.1
einops
evaluate
expecttest
flash-attn>=2.3.6,<2.4
h5py
humanize
hypothesis
ninja
numpy
packaging
protobuf
scikit-learn
sentencepiece!=0.1.92
tensorboard
transformers>=4.40.1
