datasets
numpy
sagemaker
sagemaker-experiments
scipy
torchnet
transformers==4.4.2
smdebug
humanize
https://sagemaker-distributed-model-parallel.s3.us-west-2.amazonaws.com/pytorch-1.7.1/build-artifacts/2021-11-15-22-23/smdistributed_modelparallel-1.4b1-cp36-cp36m-linux_x86_64.whl
