--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.1.0+cu118
torchvision==0.16.0+cu118
torchtext==0.16.0
torchaudio==2.1.0+cu118
pyyaml
tqdm
numpy
easydict
scikit-image
scikit-learn
opencv-python
tensorflow
joblib
matplotlib
pandas
albumentations==0.5.2
hydra-core
pytorch-lightning
tabulate
kornia==0.5.0
webdataset
packaging
timm
