/opt/ml/model/code/dependencies/gluonts-0.8.1-py3-none-any.whl
/opt/ml/model/code/dependencies/pydantic-1.7-cp37-cp37m-manylinux2014_x86_64.whl
/opt/ml/model/code/dependencies/holidays-0.10.2.tar.gz
/opt/ml/model/code/dependencies/typing_extensions-3.10.0.2-py3-none-any.whl
/opt/ml/model/code/dependencies/toolz-0.11.1-py3-none-any.whl
/opt/ml/model/code/dependencies/pandas-1.0.5-cp37-cp37m-manylinux1_x86_64.whl
/opt/ml/model/code/dependencies/pytz-2021.3-py2.py3-none-any.whl
/opt/ml/model/code/dependencies/ephem-4.1.3-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
/opt/ml/model/code/dependencies/setuptools_git-1.2-py2.py3-none-any.whl
/opt/ml/model/code/dependencies/LunarCalendar-0.0.9-py2.py3-none-any.whl
/opt/ml/model/code/dependencies/cmdstanpy-0.9.5-py3-none-any.whl
/opt/ml/model/code/dependencies/korean_lunar_calendar-0.2.1-py3-none-any.whl
/opt/ml/model/code/dependencies/convertdate-2.4.0-py3-none-any.whl
pystan==2.19.1.1
fbprophet==0.7.1