segment-anything-py==1.0
opencv-python-headless==4.7.0.68
transformers==4.28.1
ftfy
diffusers
xformers
tqdm
#easydict==1.9.0
#scikit-image==0.17.2
#scikit-learn==0.24.2
easydict
scikit-image
tensorflow
joblib
matplotlib
albumentations==0.5.2
hydra-core==1.1.0
pytorch-lightning
tabulate
kornia==0.5.0
webdataset
omegaconf==2.1.2
