{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-05-10",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"datazone",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "ripServiceName":"datazone",
    "serviceFullName":"Amazon DataZone",
    "serviceId":"DataZone",
    "signatureVersion":"v4",
    "signingName":"datazone",
    "uid":"datazone-2018-05-10"
  },
  "operations":{
    "BatchDeleteLinkedTypes":{
      "name":"BatchDeleteLinkedTypes",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/linked-types",
        "responseCode":200
      },
      "input":{"shape":"BatchDeleteLinkedTypesInput"},
      "output":{"shape":"BatchDeleteLinkedTypesOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true,
      "internalonly":true
    },
    "BatchPutLinkedTypes":{
      "name":"BatchPutLinkedTypes",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/domains/{domainIdentifier}/linked-types",
        "responseCode":200
      },
      "input":{"shape":"BatchPutLinkedTypesInput"},
      "output":{"shape":"BatchPutLinkedTypesOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true,
      "internalonly":true
    },
    "CreateEnvironmentAction":{
      "name":"CreateEnvironmentAction",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/actions",
        "responseCode":201
      },
      "input":{"shape":"CreateEnvironmentActionInput"},
      "output":{"shape":"CreateEnvironmentActionOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "GetEnvironmentActionLink":{
      "name":"GetEnvironmentActionLink",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/environmentActionLink",
        "responseCode":200
      },
      "input":{"shape":"GetEnvironmentActionLinkInput"},
      "output":{"shape":"GetEnvironmentActionLinkOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "internalonly":true
    },
    "ListLinkedTypes":{
      "name":"ListLinkedTypes",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/linked-types",
        "responseCode":200
      },
      "input":{"shape":"ListLinkedTypesInput"},
      "output":{"shape":"ListLinkedTypesOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "internalonly":true
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "ActionParameters":{
      "type":"structure",
      "members":{
        "awsConsoleLink":{"shape":"AwsConsoleLinkParameters"},
        "sageMaker":{
          "shape":"SageMakerParameters",
          "internalonly":true
        }
      },
      "union":true
    },
    "AuthorizedPrincipal":{
      "type":"structure",
      "members":{
        "principalIdentifier":{"shape":"String"},
        "principalType":{"shape":"AuthorizedPrincipalType"}
      }
    },
    "AuthorizedPrincipalType":{
      "type":"string",
      "enum":[
        "SERVICE_PRINCIPAL",
        "DATAZONE_USER_PROFILE"
      ]
    },
    "AwsConsoleLinkParameters":{
      "type":"structure",
      "members":{
        "uri":{"shape":"EnvironmentActionURI"}
      }
    },
    "BatchDeleteLinkedTypesErrors":{
      "type":"list",
      "member":{"shape":"LinkedTypeError"}
    },
    "BatchDeleteLinkedTypesInput":{
      "type":"structure",
      "required":[
        "domainIdentifier",
        "itemIdentifiers"
      ],
      "members":{
        "domainIdentifier":{
          "shape":"DomainId",
          "location":"uri",
          "locationName":"domainIdentifier"
        },
        "projectIdentifier":{
          "shape":"ProjectId",
          "location":"querystring",
          "locationName":"projectIdentifier"
        },
        "itemIdentifiers":{
          "shape":"LinkedTypeItemIdentifiers",
          "location":"querystring",
          "locationName":"itemIdentifiers"
        }
      }
    },
    "BatchDeleteLinkedTypesOutput":{
      "type":"structure",
      "required":["errors"],
      "members":{
        "errors":{"shape":"BatchDeleteLinkedTypesErrors"}
      }
    },
    "BatchPutLinkedTypesErrors":{
      "type":"list",
      "member":{"shape":"LinkedTypeError"}
    },
    "BatchPutLinkedTypesInput":{
      "type":"structure",
      "required":["domainIdentifier"],
      "members":{
        "domainIdentifier":{
          "shape":"DomainId",
          "location":"uri",
          "locationName":"domainIdentifier"
        },
        "projectIdentifier":{"shape":"ProjectId"},
        "environmentIdentifier":{"shape":"EnvironmentId"},
        "items":{"shape":"BatchPutLinkedTypesInputItemsList"}
      }
    },
    "BatchPutLinkedTypesInputItemsList":{
      "type":"list",
      "member":{"shape":"PutLinkedTypeItem"},
      "max":10,
      "min":1
    },
    "BatchPutLinkedTypesOutput":{
      "type":"structure",
      "required":["errors"],
      "members":{
        "errors":{"shape":"BatchPutLinkedTypesErrors"}
      }
    },
    "ConfigurationMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"}
    },
    "ConflictException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "ConnectedEntities":{
      "type":"list",
      "member":{"shape":"ConnectedEntity"},
      "max":10,
      "min":1
    },
    "ConnectedEntity":{
      "type":"structure",
      "members":{
        "connectedEntityIdentifier":{"shape":"String"},
        "connectedEntityType":{"shape":"ConnectedEntityType"},
        "connectedEntityConnectionType":{"shape":"ConnectedEntityConnectionType"}
      }
    },
    "ConnectedEntityConnectionType":{
      "type":"string",
      "enum":[
        "BELONGS_TO",
        "CONSUMED_BY",
        "CUSTOM"
      ]
    },
    "ConnectedEntityType":{
      "type":"string",
      "enum":[
        "ENVIRONMENT",
        "SAGEMAKER_DOMAIN",
        "SAGEMAKER_USER_PROFILE",
        "CUSTOM"
      ]
    },
    "CreateEnvironmentActionInput":{
      "type":"structure",
      "required":[
        "domainIdentifier",
        "environmentIdentifier",
        "name",
        "parameters"
      ],
      "members":{
        "domainIdentifier":{
          "shape":"DomainId",
          "location":"uri",
          "locationName":"domainIdentifier"
        },
        "environmentIdentifier":{
          "shape":"EnvironmentId",
          "location":"uri",
          "locationName":"environmentIdentifier"
        },
        "name":{"shape":"String"},
        "parameters":{"shape":"ActionParameters"},
        "description":{"shape":"String"}
      }
    },
    "CreateEnvironmentActionOutput":{
      "type":"structure",
      "required":[
        "domainId",
        "environmentId",
        "id",
        "name",
        "parameters"
      ],
      "members":{
        "domainId":{"shape":"DomainId"},
        "environmentId":{"shape":"EnvironmentId"},
        "id":{"shape":"EnvironmentActionId"},
        "name":{"shape":"String"},
        "parameters":{"shape":"ActionParameters"},
        "description":{"shape":"String"}
      }
    },
    "DomainId":{
      "type":"string",
      "pattern":"dzd[_][a-zA-Z0-9_-]{1,36}"
    },
    "DurationSeconds":{
      "type":"integer",
      "box":true,
      "max":43200,
      "min":900
    },
    "EnvironmentActionId":{
      "type":"string",
      "pattern":"[a-zA-Z0-9_-]{1,36}"
    },
    "EnvironmentActionURI":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "EnvironmentId":{
      "type":"string",
      "pattern":"[a-zA-Z0-9_-]{1,36}"
    },
    "ErrorMessage":{"type":"string"},
    "GetEnvironmentActionLinkInput":{
      "type":"structure",
      "required":[
        "domainIdentifier",
        "environmentIdentifier"
      ],
      "members":{
        "domainIdentifier":{
          "shape":"DomainId",
          "location":"uri",
          "locationName":"domainIdentifier"
        },
        "environmentIdentifier":{
          "shape":"EnvironmentId",
          "location":"uri",
          "locationName":"environmentIdentifier"
        },
        "consoleType":{
          "shape":"String",
          "location":"querystring",
          "locationName":"consoleType"
        },
        "durationSeconds":{
          "shape":"DurationSeconds",
          "internalonly":true,
          "location":"querystring",
          "locationName":"durationSeconds"
        }
      }
    },
    "GetEnvironmentActionLinkOutput":{
      "type":"structure",
      "members":{
        "actionLink":{"shape":"String"}
      }
    },
    "Integer":{
      "type":"integer",
      "box":true
    },
    "InternalServerException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true,
      "retryable":{"throttling":false}
    },
    "LinkedTypeAuthorizedPrincipals":{
      "type":"list",
      "member":{"shape":"AuthorizedPrincipal"},
      "max":10,
      "min":1
    },
    "LinkedTypeError":{
      "type":"structure",
      "required":[
        "itemIdentifier",
        "code",
        "errorMessage"
      ],
      "members":{
        "itemIdentifier":{"shape":"String"},
        "code":{"shape":"Integer"},
        "errorMessage":{"shape":"String"}
      }
    },
    "LinkedTypeItemIdentifiers":{
      "type":"list",
      "member":{"shape":"String"},
      "max":10,
      "min":1
    },
    "LinkedTypeItemType":{
      "type":"string",
      "enum":[
        "SAGEMAKER_DOMAIN",
        "SAGEMAKER_USER_PROFILE",
        "CUSTOM"
      ]
    },
    "ListLinkedTypeItem":{
      "type":"structure",
      "required":[
        "itemIdentifier",
        "itemType"
      ],
      "members":{
        "itemIdentifier":{"shape":"String"},
        "itemType":{"shape":"LinkedTypeItemType"},
        "name":{"shape":"String"},
        "arn":{"shape":"String"},
        "configuration":{"shape":"ConfigurationMap"},
        "authorizedPrincipals":{"shape":"LinkedTypeAuthorizedPrincipals"},
        "connectedEntities":{"shape":"ConnectedEntities"},
        "projectIdentifier":{"shape":"ProjectId"},
        "environmentIdentifier":{"shape":"EnvironmentId"}
      }
    },
    "ListLinkedTypesInput":{
      "type":"structure",
      "required":["domainIdentifier"],
      "members":{
        "domainIdentifier":{
          "shape":"DomainId",
          "location":"uri",
          "locationName":"domainIdentifier"
        },
        "projectIdentifier":{
          "shape":"ProjectId",
          "location":"querystring",
          "locationName":"projectIdentifier"
        },
        "environmentIdentifier":{
          "shape":"EnvironmentId",
          "location":"querystring",
          "locationName":"environmentIdentifier"
        },
        "principalIdentifier":{
          "shape":"String",
          "location":"querystring",
          "locationName":"principalIdentifier"
        },
        "itemIdentifier":{
          "shape":"String",
          "location":"querystring",
          "locationName":"itemIdentifier"
        },
        "itemType":{
          "shape":"LinkedTypeItemType",
          "location":"querystring",
          "locationName":"itemType"
        },
        "nextToken":{
          "shape":"PaginationToken",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "maxResults":{
          "shape":"ListLinkedTypesInputMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListLinkedTypesInputMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":50,
      "min":1
    },
    "ListLinkedTypesItems":{
      "type":"list",
      "member":{"shape":"ListLinkedTypeItem"}
    },
    "ListLinkedTypesOutput":{
      "type":"structure",
      "required":["items"],
      "members":{
        "items":{"shape":"ListLinkedTypesItems"},
        "nextToken":{"shape":"PaginationToken"}
      }
    },
    "PaginationToken":{
      "type":"string",
      "max":8192,
      "min":1
    },
    "ProjectId":{
      "type":"string",
      "pattern":"[a-zA-Z0-9_-]{1,36}"
    },
    "PutLinkedTypeItem":{
      "type":"structure",
      "required":[
        "itemIdentifier",
        "itemType"
      ],
      "members":{
        "itemIdentifier":{"shape":"String"},
        "itemType":{"shape":"LinkedTypeItemType"},
        "name":{"shape":"String"},
        "arn":{"shape":"String"},
        "configuration":{"shape":"ConfigurationMap"},
        "authorizedPrincipals":{"shape":"LinkedTypeAuthorizedPrincipals"},
        "connectedEntities":{"shape":"ConnectedEntities"}
      }
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "error":{
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "SageMakerParameters":{
      "type":"structure",
      "members":{
      }
    },
    "ServiceQuotaExceededException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "error":{
        "httpStatusCode":402,
        "senderFault":true
      },
      "exception":true
    },
    "String":{"type":"string"},
    "ThrottlingException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "error":{
        "httpStatusCode":429,
        "senderFault":true
      },
      "exception":true,
      "retryable":{"throttling":false}
    },
    "UnauthorizedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "error":{
        "httpStatusCode":401,
        "senderFault":true
      },
      "exception":true
    },
    "ValidationException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    }
  }
}
