dependencies/altair-4.1.0-py3-none-any.whl
dependencies/attrs-20.2.0-py2.py3-none-any.whl
dependencies/certifi-2020.6.20-py2.py3-none-any.whl
dependencies/cycler-0.10.0-py2.py3-none-any.whl
dependencies/dataclasses-0.6-py3-none-any.whl
dependencies/entrypoints-0.3-py2.py3-none-any.whl
dependencies/gluonts-0.8.1-py3-none-any.whl
dependencies/holidays-0.9.12.tar.gz
dependencies/importlib_metadata-2.0.0-py2.py3-none-any.whl
dependencies/Jinja2-2.11.2-py2.py3-none-any.whl
dependencies/jsonschema-3.2.0-py2.py3-none-any.whl
dependencies/kiwisolver-1.2.0-cp37-cp37m-manylinux1_x86_64.whl
dependencies/MarkupSafe-1.1.1-cp37-cp37m-manylinux2010_x86_64.whl
dependencies/matplotlib-3.3.2-cp37-cp37m-manylinux1_x86_64.whl
dependencies/numpy-1.19.2-cp37-cp37m-manylinux2010_x86_64.whl
dependencies/pandas-1.0.5-cp37-cp37m-manylinux1_x86_64.whl
dependencies/Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl
dependencies/pydantic-1.7-cp37-cp37m-manylinux2014_x86_64.whl
dependencies/pyparsing-2.4.7-py2.py3-none-any.whl
dependencies/pyrsistent-0.17.3.tar.gz
dependencies/python_dateutil-2.8.1-py2.py3-none-any.whl
dependencies/pytz-2020.1-py2.py3-none-any.whl
dependencies/six-1.15.0-py2.py3-none-any.whl
dependencies/toolz-0.11.1-py3-none-any.whl
dependencies/tqdm-4.51.0-py2.py3-none-any.whl
dependencies/ujson-1.35.tar.gz
dependencies/zipp-3.4.0-py3-none-any.whl
dependencies/typing_extensions-3.10.0.2-py3-none-any.whl
dependencies/setuptools-59.6.0-py3-none-any.whl
